.summary-url {
  color: #1976d2; 
  display: block; 
  max-width: 100%; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap; 
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.crawl-button {
  height: 50px;
}

.error {
  color: red;
  margin-top: 10px;
}

.summary-box {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}